.join-container {
  padding: 15px;
  width: 30%;
  min-width: fit-content;
  border-radius: 15px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
.person-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 5px;
}
#join {
  margin-bottom: 10px;
}
#title {
  color: gray;
}
.img-name {
  display: flex;
  gap: 8px;
}
.person-middle {
  display: flex;
  flex-direction: column;
}
.visibility {
  margin-left: 8px;
  cursor: pointer;
  display: flex;
  background-color: rgb(226, 226, 226);
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 3px;
  border-radius: 10px;
  border: none;
}
@media (max-width: 820px) {
  .join-container {
    width: 100%;
  }
}
