aside {
  background-color: rgb(226, 226, 226);

  padding: 10px;
  position: sticky;
  left: 0;
  height: 100vh;
}
#home {
  background-color: rgb(245, 245, 245);
}
.side-container {
  width: 200px;
}
.menu-category {
  margin-bottom: 10px;
}
ul {
  margin-left: 20px;
}
li {
  display: flex;
  padding: 3px;
  cursor: pointer;
  border-radius: 8px;
  margin-bottom: 3px;
  align-items: center;
}
li:hover {
  background-color: rgb(245, 245, 245);
}
h3 {
  margin-bottom: 3px;
}
